/// Example 
/// SCSS SYNTAX
@mixin inline-animation($duration) {
  $name: inline-#{unique-id()};

  @keyframes #{$name} {
    @content;
  }

  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: infinite;
}

.pulse {
  @include inline-animation(2s) {
    from { background-color: yellow }
    to { background-color: red }
  }
}

@mixin keep-forward-animation($duration, $iteration, $endingState) {
  $name: keep-#{unique-id()};

  @keyframes #{$name} {
    @content;
  }

  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: $iteration;
  animation-fill-mode: $endingState;
}

.appears-from-bottom {
  @include keep-forward-animation(0.6s, 1, 'forward') {
    from { transform: translate3d(0, 50px, 0) }
    to { transform: translate3d(0, 0, 0) }
  }
}

.underline-animation {
  position: relative;
}
.underline-animation::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
  height: 1px;
  width: 100%;
  background: #e5d4c4;
  transition: transform .3s cubic-bezier(.9,0,.1,1);
  transform-origin: right center;
  transform: translate3d(0,0,0) scaleX(0);
}
.underline-animation:hover::after {
  transform-origin: left center;
  transform: translate3d(0,0,0) scaleX(1);
}
.underline-animation::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
  height: 1px;
  width: 100%;
  background: #e5d4c4;
  transition: transform .3s cubic-bezier(.9,0,.1,1);
  transform-origin: left center;
  transform: translate3d(0,0,0) scaleX(0);
}
.underline-animation:hover::before {
  transform-origin: right center;
  transform: translate3d(0,0,0) scaleX(1);
}