
$tSize1: 1.8rem;
$tSize2: 3.6rem;

$primary: #fff;

$white: rgb(240, 226, 226);
$yellow: #ffe9ad;
$blue: #162860;
$darkBlue: #11204d;
$lightBlue: #5b73bd;

$pageBackground: #1a1515;

$cursorColor: rgb(255, 243, 188);